.page {
  max-width: var(--maxw);
  margin: 0;
  padding: 40px 28px var(--section-y-120);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 328px;
  gap: var(--gap-lg);
  align-items: flex-start;
  margin-top: var(--gap-grid);
}

@media (--wide) {
  .grid {
    grid-template-columns: 1fr;
  }
}
